* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 2rem;
    color: #e2bc37;
    font-family: monospace;
}

h2 {
    font-family: monospace;
    font-size: 1.5rem;
    color: #e2bc37;
}

h3 {
    font-size: 1.8rem;
    color: #e2bc37;
}

button {
    width: 4rem;
}

p {
    font-family: monospace;
    font-size: 1.2rem;
    color: black;
}

input {
    border: none;
}
/* input::placeholder {
    color: white;
} */

.fakebutton {
    border: black 1px dotted;
    padding: 0.2rem;
    background: rgba(226, 188, 55, 0.3);
}

.maincircle {
    background: #5e0704;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: 50% 50%;
    border: 8px double #e2bc37;
    padding: 10px;
    background-clip: content-box;
    width: 38rem;
    height: 38rem;
    z-index: 200;
}

#render span {
    grid-column: 1/3;
    grid-row: 1/2;
    color: #e2bc37;
    font: 4rem Monaco, MonoSpace;
    height: 300px;
    position: absolute;
    transform-origin: bottom center;
    display: flex;
    justify-content: center;
    right: 48%;
    z-index: 11;
    /* top: 10%; */
}

#random span {
    grid-row: 1/2;
    grid-column: 2/4;
    color: #e2bc37;
    font: 4rem Monaco, Monospace;
    height: 300px;
    position: absolute;
    transform-origin: bottom center;
    display: flex;
    justify-content: center;
    right: 50%;
    z-index: 10;
    /* top: 10%; */
}

.char1 {
    transform: rotate(-90deg);
}
.char2 {
    transform: rotate(-80deg);
}
.char3 {
    transform: rotate(-70deg);
}
.char4 {
    transform: rotate(-60deg);
}
.char5 {
    transform: rotate(-50deg);
}
.char6 {
    transform: rotate(-40deg);
}
.char8 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
    z-index: 12;
}

.char10 {
    transform: rotate(40deg);
    padding: 0;
}
.char11 {
    transform: rotate(50deg);
}
.char12 {
    transform: rotate(60deg);
}
.char13 {
    transform: rotate(70deg);
}
.char14 {
    transform: rotate(80deg);
}
.char15 {
    transform: rotate(90deg);
}

.profilePicture {
    object-fit: cover;
    align-self: center;
    justify-self: right;
}

.logout {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: flex-end;
    heigth: 100px;
    text-align: center;
    z-index: 500;
    padding: 2rem;
}
/* ----------------------------------Welcome page */

#vinyl {
    background: url("vinyl.jpg");
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200%;
    width: 100%;
    overflow: hidden;
    animation: spin 10s linear infinite;
    z-index: 0;
    bottom: -50%;
    /* left: -5%; */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.welcomePage {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    justify-self: center;
    z-index: 0;
}
.circlecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.reglogin {
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    background: transparent;
}

/* --------------------------REGISTER and LOGIN */

.wrapper {
    display: grid;
    justify-items: center;
    z-index: 0;
}

.error {
    color: #5e0704;
    font-size: 1rem;
    background-color: #e2bc37;
    width: 40%;
}

.button {
    color: #e2bc37;
    background: #5e0704;
    border: none;
}
.button:hover {
    background: #e2bc37;
    color: #5e0704;
    border: none;
}

.inputfield {
    border: none;
    border-bottom: 1px solid #e2bc37;
    background: transparent;
    font-family: monospace;
    font-size: 1rem;
}

.title {
    color: #e2bc37;
    font-family: monospace;
    text-align: center;
    font-size: 1.5rem;
}

.linkother {
    font-size: 0.9rem;
    color: #e2bc37;
    font-family: monospace;
}

/* ---------------------------------------APP PAGE */

.podcastwrapper {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    justify-self: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    /* overflow: hidden; */
}

.firstquadrant {
    z-index: 20;
    /* background: rgba(226, 188, 55, 0.3); */
    grid-column: 1/3;
    grid-row: 1/3;
}
.secondquadrant {
    z-index: 30;
    /* background: rgba(94, 7, 4, 0.3); */
    grid-column: 3/5;
    grid-row: 1/3;
}
.thirdquadrant {
    z-index: 30;
    /* background: rgba(94, 7, 4, 0.3); */
    /* background: rgba(255, 255, 255, 0.1); */
    grid-column: 1/3;
    grid-row: 3/5;
}
.fourthquadrant {
    z-index: 30;
    /* background: rgba(226, 188, 55, 0.3); */
    grid-column: 3/5;
    grid-row: 3/5;
}

.searchcomponent {
    grid-column: 4/5;
    grid-row: 1/5;
    z-index: 40;
    align-content: flex-end;
}

/* ----------------------------------------------------USER PROFILE */
.myprofile {
    font-size: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-self: center;
    justify-content: center;
    z-index: 25;
    heigth: 100%;
    width: 40rem;
}
.profilepicinmyprofile {
    grid-column: 1/2;
    justify-self: center;
    z-index: 45;
}
.textinmyprofile {
    place-self: center/start;
    grid-column: 2/3;
    padding-left: 1rem;
}

.uploader {
    grid-row: 1/3;
    grid-column: 1/2;
    z-index: 100;
}

.profilepic {
    grid-row: 1/3;
    grid-column: 1/2;
}

.profilebuttons {
    z-index: 45;
}

/* -------------------------------------------FAVORITE EPISODES */

.favorites {
    padding: 2rem;
}

/* --------------------------PROFILE PIC---------------------- */

.profilePicture {
    border-radius: 30%;
    border: #5e0704 double 3px;
    object-fit: cover;
}

/* ----------------------------------------------SEARCH FOR EPISODES */

.search {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 2rem;
    text-align: center;
    height: 100vh;
}

.searchinput {
    padding-bottom: 2rem;
    display: grid;
    justify-items: center;
}

.searchbar {
    grid-row: 1/2;
}

.episoderesults {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-items: center;
    overflow: scroll;
}
.eachsearchresult {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 2rem 1fr 2rem;
}

.resultspic {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
}

.resultstitle {
    grid-column: 2/3;
    grid-row: 1/2;
}

.resultssummary {
    grid-column: 2/3;
    grid-row: 2/3;
}

.resultspecs {
    grid-column: 2/3;
    grid-row: 3/4;
}

/* -----------------------------------------UPLOADER */
.outer {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    display: grid;
    z-index: 200;
    border-radius: 50%;
}

.inner {
    display: flex;
    justify-self: center;
    align-self: center;
    background: #e2bc37;
    heigth: 80vh;
    width: 40vw;
    color: #5e0704;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
}

.uploaderpic {
    place-self: center;
    padding-top: 1rem;
    grid-row: 1/4;
    grid-column: 1/2;
}

.closetag {
    color: #5e0704;
    font-size: 2rem;
    align-self: flex-end;
    padding-right: 1rem;
}

.textuploader {
    font-size: 2rem;
    justify-self: center;
    padding-top: 0;
    grid-row: 2/3;
}

.picUpload {
    justify-self: center;
    grid-row: 3/4;
    padding-bottom: 3rem;
}

/* ------------------------------------admin page */

.addepisode {
    display: grid;
    color: #e2bc37;
    padding-left: 3rem;
    width: 25rem;
    height: 50rem;
    grid-template-rows: 2rem 30rem;
}

.addtitle {
    grid-row: 1/2;
}

.addform {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 25rem 10rem;
    grid-template-rows: 2rem 2rem 2rem 2rem 6rem 6rem 2rem 2rem;
}

.addaudiofile {
    display: flex;
    flex-direction: row;
    grid-row: 2/3;
    grid-column: 1/2;
}

.addpicfile {
    display: flex;
    flex-direction: row;
    grid-row: 3/4;
    grid-column: 1/2;
}

.descriptionadd {
    grid-column: 1/2;
    grid-row: 6/7;
}

.tags {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 8rem;
    grid-column: 2/3;
    grid-row: 1/8;
}

.tagTitle {
    align-self: flex-start;
    padding: 0.5rem;
    grid-row: 1/2;
}

.label {
    align-self: baseline;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}
.checkboxInput {
    align-self: baseline;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}
/* ---------------------EPISODE PAGE----------------------- */

.episodepage {
    justify-self: center;
    height: 100vh;
    width: 100vw;
    /* z-index: 300; */
    grid-column: 1/5;
    grid-row: 1/5;
}

.eachepisodepage {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    padding: 3rem;
}

.commentsection {
    grid-column: 4/5;
    grid-row: 1/5;
    padding-left: 2rem;
    align-self: center;
    width: 100%;
}

.commentdiv {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    align-self: center;
}

.commentarea {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

.commenttitle {
    grid-row: 1/2;
    padding: 0.5rem;
}
.eachcomment {
    display: grid;
    grid-template-columns: 1fr 8rem;
    grid-template-rows: 2rem 1fr 2rem;
    text-align: right;
    border-bottom: 1px dotted #e2bc37;
}

.commenterpic {
    grid-column: 2/3;
    grid-row: 1/4;
    height: 100%;
    width: 100%;
}

.commentername {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0.5rem;
    color: #e2bc37;
}

.commenttext {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0.5rem;
    color: #e2bc37;
}

.commenttime {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0.5rem;
    color: #e2bc37;
}

.writeacomment {
    grid-row: 3/4;
    height: 5rem;
    background: transparent;
    border: #5e0704 double 3px;
}
.writeacomment::placeholder {
    color: #e2bc37;
    font-size: 1rem;
}

.episodepic {
    border-radius: 30%;
    border: #5e0704 double 3px;
    object-fit: cover;
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    display: flex;
    justify-self: center;
}

.player {
    grid-column: 2/3;
    height: 70%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    border: #e2bc37;
    z-index: 500;
}

.playerwrapper {
    grid-row: 3/4;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    z-index: 400;
}

.eachepisodetitle {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 6rem;
    padding: 2rem;
}

.episodeinfo {
    grid-row: 3/5;
    grid-column: 1/2;
    font-size: 1rem;
    border: double 3px #e2bc37;
    padding: 2rem;
    margin: 2rem;
    border-radius: 30%;
}
.description {
    font-size: 1.3rem;
    color: #e2bc37;
}
.infotitle {
    text-align: center;
}
.duration {
    font-family: monospace;
    font-size: 1rem;
    color: #e2bc37;
    height: 2rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
